<div class="important-tasks">
  <span>
    <i class="fa-solid fa-star"></i>
    <h2>Important Tasks</h2>
  </span>
  
  <div *ngIf="isAddTaskOpen" class="task-input-container">
    <input type="text" [(ngModel)]="newTask" placeholder="Enter your task" />
    <button class="save-task-btn" (click)="saveTask()">{{isEditMode ? 'Edit' : 'Save'}} Task</button>
  </div>

  <ul>
    <li *ngFor="let task of importantTasks; let i = index">
      <span>{{ task.text }}</span>

      <button class="edit-btn" (click)="editTask(i)">
        <i class="fa-solid fa-pen"></i>
      </button>

      <button class="delete-btn" (click)="deleteTask(i)">
        <i class="fa-solid fa-trash"></i>
      </button>
    </li>
  </ul>
</div>
