<div class="forgot-password-page">
  <div class="left-side">
    <img src="forgot_password.jpg" alt="Forgot Password Image" class="forgot-password-image" />
  </div>
  <div class="right-side">
    <h3>Forgot Password</h3>
    <p>Please enter the email address you'd like your password reset information sent to...</p>
    
    <form (ngSubmit)="resetPassword()">
      
      <!-- Email Input Field -->
      <mat-form-field appearance="fill" class="form-group">
        <mat-label>Enter Email Address</mat-label>
        <input matInput type="email" id="email" name="email" [(ngModel)]="email" required />
      </mat-form-field>
  
      <button mat-raised-button color="primary" type="submit" class="btn-submit">Request Reset Link</button>
    </form>
    
    <p><a [routerLink]="'/login'">Back to Login</a></p>
  </div>
</div>
