<div class="forgot-password-page">
  <div class="left-side">
    <img src="forgot_password.jpg" alt="Forgot Password Image" class="forgot-password-image">
  </div>
    <div class="right-side">
      <h3>Forgot Password</h3>
    <p>Please enter the email address you'd like your password reset information sent to...</p>
    
    <form>
      <div class="form-group">
        <label for="email">Enter Email Address</label>
        <input type="email" name="email" id="email" class="form-control">
      </div>
  
      <button type="submit" class="btn-submit">Request Reset Link</button>
    </form>
    
    <p><a [routerLink]="'/login'">Back to Login</a></p>
    </div>
  </div>
  