.planned-tasks-container {
  margin-top: 50px;
}

.planned-tasks-container span {
  display: flex;
  align-items: center;
}

.planned-tasks-container i {
  font-size: 18px;
  color: #007bff;
  margin-right: 14px;
}

.planned-tasks-container h3 {
  font-size: 24px;
  color: #007bff;
}

.planned-tasks-container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.planned-tasks-container li {
  background-color: #f9f9f9;
  padding: 8px 40px;
  margin: 16px 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.due-date-box {
  background-color: #f0f0f0;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  margin-right: 10px;
}

.chip-container {
  margin-left: auto; 
}

.due-date-chip {
  background-color: #e0e0e0; 
  padding: 5px 10px;
  font-size: 14px;
  font-weight: bold;
}

.planned-tasks-container .header {
  display: flex;
  align-items: center;
  gap: 5px;
}

.planned-tasks-container .header i {
  font-size: 30px;
  color: #007bff;
}

.planned-tasks-container .header h3 {
  font-size: 24px;
  color: #007bff;
  margin: 0;
}
