<div class="reset-password-page">
  <div class="left-side">
    <img src="reset_password.jpg" alt="Reset Password Image" class="reset-password-image">
  </div>
    <div class="right-side">
      <h3>Reset Password</h3>
    <p>Strong passwords includes numbers, letters & punctuation marks!!!</p>
    
    <form>
      <div class="form-group">
        <label for="new-password">Enter New Password</label>
        <input type="password" name="new-password" id="new-password" required class="form-control">
      </div>
  
      <div class="form-group">
        <label for="confirm-password">Confirm New Password</label>
        <input type="password" name="confirm-password" id="confirm-password" required class="form-control">
      </div>
  
      <button type="submit" class="btn-submit">Reset Password</button>
    </form>
    </div>
  </div>
   


  


  