$blue: #007bff;
$blue-dark: #004a99;
$white: white;

.sidenav-container {
  height: 100%;
}

.sidebar {
  width: 300px;
  background-color: $blue;
  color: $white;
  position: fixed;
  top: 62px;
  left: 0;
  z-index: 1000;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}

mat-nav-list {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

mat-nav-list a {
  display: flex;
  align-items: center; 
  padding: 15px 20px;
  font-size: 16px;
  margin-bottom: 20px;
  color: $white; 
  text-decoration: none;
  transition: background-color 0.2s;
}

mat-nav-list a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}

mat-icon {
  margin-right: 15px;
  color: $white; 
  font-size: 25px; 
}

mat-sidenav-content {
  margin-left: 300px;  
  padding: 20px;
}

mat-list-item {
  font-size: 16px;
  color: $white; 
}

mat-list-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.mdc-list-item__primary-text {
  color: $white !important;
}