<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  
  <header>
    <div class="header-container">
      <!-- Logo and ToDo -->
      <div class="logo-container">
        <mat-icon class="todo-icon">grid_view</mat-icon> 
        <h3>ToDo</h3>
      </div>
  
      <!-- Search Box -->
      <form>
        <mat-form-field class="search-container" appearance="outline">
          <mat-icon matPrefix>search</mat-icon>
          <input matInput type="text" placeholder="Search..." [(ngModel)]="searchQuery" (input)="onSearch()">
        </mat-form-field>
      </form>
  
      <!-- Header Icons -->
      <div class="header-icons">
        <!-- Theme Toggle -->
        <button mat-icon-button class="theme-toggle" (click)="toggleTheme()">
          <mat-icon *ngIf="!isDarkMode">wb_sunny</mat-icon> 
          <mat-icon *ngIf="isDarkMode">nights_stay</mat-icon> 
        </button>
  
        <!-- Settings and Profile Icons -->
        <mat-icon class="settings-icon">settings</mat-icon>
        <mat-icon class="profile-icon">person</mat-icon>
      </div>
    </div>
  </header>
  